ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  background-color: #f7f7f7;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 30px;
  text-align: center;
  flex-direction: column;
  display: flex;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
}

.icon {
  display: inline-block;
  background-image: url("./0-sprite.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}

li span.i-css {
  background-position: center;
}

li span.i-js {
  background-position: right center;
}
